body {
    margin: 0;
}

.accordion label {
    color: blue;
}

.accordion:hover label,
input:checked ~ label {
    color: black;
}

label {
    display: block;
}

input {
    display: none;
}

.option-block:active {
    opacity: 0.5;
}

.details {
    display: block;
    margin: 0 auto;
    width: 0;
    transition: width 0.3s;
}

input:checked ~ .details,
.option-block:hover .details {
    width: 30%;
}