html {
    font-size: 16px;
}

main {
    width: 310px;
    margin: 0 auto;
}

@media (min-width: 820px) {
    html {
        font-size: 18px;
    }

    main {
        width: 700px;
    }
}

@media (min-width: 1920px) {
    html {
        font-size: 24px;
    }

    main {
        width: 1500px;
    }
}



body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 1.5em;
}


/* ACCORDION */

.accordion {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.option-block {
    border-top: solid 0.0625rem lightgray;
}

label {
    color: blue;
    cursor: pointer;
}

.accordion:hover label,
input:checked ~ label {
    color: black;
}

.meme-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

input {
    display: none;
}

/* ANIMATION */

.option-block:active {
    opacity: 0.5;
}

.meme-picture {
    display: block;
    margin: 0 auto;
    width: 0;
    transition: width 0.3s;
}

input:checked ~ label .meme-picture,
.option-block:hover label .meme-picture {
    width: clamp(200px, 30%, 600px);
}

.plus-icon {
    visibility: hidden;
    height: 1rem;
    transition: transform 0.3s;
}

.accordion:hover .plus-icon {
    visibility: visible;
}

input:checked ~ label .plus-icon,
.option-block:hover label .plus-icon {
    transform: rotate(45deg);
}
